*.class
*.log
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.metadata
/RUNNING_PID
_linux/
codestyles/
bitbucket-cloud-registry.xml
bitbucket-server-registry.xml
colors.scheme.xml
debugger.xml
editor.xml
filetypes.xml
ide.general.xml
jdk.table.xml
project.default.xml
scala.xml
vcs.xml
jf.storage.xml
markdown.xml
sbt
sbt.bat
sbt-dist/
.ensime_cache/
.ensime
ensime-langserver.log
.DS_Store
pc.stdout.log
hs_err_pid*
yarn.lock
src/main/resources/dic/
src/main/resources/ocrResults/